<html lang="en">
  <head>
    <!-- Import Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import Material Icons font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Administrator Dashboard</title>
  </head>
  <body>
    <nav class="grey darken-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">ENSA</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/logout" class="valign-wrapper">
              <span style="margin-right: 10px;">Logout</span>
              <i class="material-icons">exit_to_app</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Dashboard</h1>
      <div class="row">
        <a href="/Dashboard/ManageProfessors" class="col s12 m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manage Professors</span>
            </div>
          </div>
        </a>
        <a href="#" class="col s12 m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manage Majors</span>
            </div>
          </div>
        </a>
        <a href="#" class="col s12 m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manage Modules and their elements</span>
            </div>
          </div>
        </a>
        <a href="#" class="col s12 m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manage Evaluation methods</span>
            </div>
          </div>
        </a>
        <a href="#" class="col s12 m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manage Module Elements</span>
            </div>
          </div>
        </a>
        <a href="#" class="col s12 m4">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manage User accounts</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>